* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
  min-height: 100px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 15px 0;
  color: #5a7684;
  font-size: 15px;
}

h3 {
  margin: auto;
  color: #92afd7;
  font-size: 15px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}


