


/* CSS FOR HOMEPAGE */
.background{
  width:100vw;
  height:100vh;
  background-image: url(./components/assets/phoenix.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-card{
  width:50vw;
  background-color: transparent !important;
  border: none !important;
  
}
.card-body-home h1, .card-body-home p{
  width:100%;
  text-align: center;
  color:whitesmoke;
}

/* CSS FOR ABOUT PAGE */

